body{
    background: rgb(108, 142, 102);
    height: 100vh;
}

header{
    background-color: rgb(197, 189, 189);
    height: 10vh;
}

main{
    background-color: rgb(150, 147, 147);
    height: 80vh;
    display: flex;
}

footer{
    background-color: rgb(197, 189, 189);
    height: 10vh;
}

.image{
    border: 3px solid red;
    width: 40%; 
    overflow: hidden; 
}

.image img{
    width: 100%;
}

.text{
    width: 50%;
}